body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

.taskCompleted {
    opacity: 0.5;
    background-color: #e0e0e0;
}

.taskCompleted td {
    text-decoration: line-through;
}

.taskDescriptionCell {
    color: #888;
    font-size: 0.9em;
    padding-top: 0;
    cursor: pointer;
    max-width: 100px;
}

.taskDescriptionCell:hover {
    background-color: rgb(209, 212, 207);
    color: black;
}

.descriptionSlide {
    cursor: pointer;
    outline: none;
}

.descriptionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.descriptionSlide.open .descriptionContent {
    max-height: 500px;
}

.descriptionLabel {
    display: block;
    color: #666;
    font-size: 0.9em;
}