body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

#taskNameField, #taskDescriptionField, #taskDeadlineField {
    margin-bottom: 25px;
}

.taskCompleted {
    opacity: 0.5;
    background-color: #e0e0e0;
}

.taskCompleted td {
    text-decoration: line-through;
}

.taskDescriptionCell {
    color: #888;
    font-size: 0.9em;
    padding-top: 0;
    cursor: pointer;
    max-width: 100px;
}

.taskDescriptionCell:hover {
    background-color: rgb(209, 212, 207);
    color: black;
}

.descriptionSlide {
    cursor: pointer;
    outline: none;
}

.descriptionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.descriptionSlide.open .descriptionContent {
    max-height: 500px;
}

.descriptionLabel {
    display: block;
    color: #666;
    font-size: 0.9em;
}

.deleteButton:hover {
    color: red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba (0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}